body {
  background-color: #839b97;
  font-family: monospace;
  display: block;
}

.weather-app-wrapper {
  max-width: 400px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #cfd3ce;
  border-radius: 5px;
  margin: 0 auto;
}

.large-weather-icon {
  font-size: 100%;
}

.city-text {
  color: #30475e;
  display: block;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 15px;
}

.day-text-large {
  color: #cfd3ce;
  display: block;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 0px;
}

.weatherDescriptionElement {
  color: #cfd3ce;
  display: block;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0px;
}

.degree,
.percent,
.conditions {
  color: #cfd3ce;
}

.degree {
  display: block;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 20px;
}

.celsiusButton,
.fahrenheitButton {
  background-color: #71757a;
  border: 1px solid transparent;
  border-radius: 5px;
}

.humidity,
.windSpeed {
  color: #30475e;
  display: block;
  font-weight: 150;
  font-size: 15px;
  padding-left: 5px;
}

.by-line {
  display: block;
  text-align: center;
}
.by-line,
a:link,
a:visited {
  color: #cfd3ce;
}

a:hover {
  color: #eebb4d;
}
