body {
  background-color: #30475e;
  font-family: monospace;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #cfd3ce;
  border-radius: 5px;
}

.currentLocationButtonLabel {
  color: #cfd3ce;
  font-size: 20px;
  padding-bottom: 10px;
}

.search-bar {
  padding-top: 0px;
}

.large-weather-icon {
  color: #eebb4d;
  font-size: 1000%;
}

.small-weather-icon {
  color: #eebb4d;
  font-size: 500%;
  margin: 20;
}

.day-text {
  font-size: 20px;
  color: #cfd3ce;
  text-align: center;
}

.city-text {
  color: #839b97;
  padding-top: 10px;
}

.day-text-large {
  color: #cfd3ce;
  display: block;
  padding-top: 10px;
}

.degree,
.percent,
.conditions {
  color: #cfd3ce;
  padding: 5px;
}

.celsiusButton,
.fahrenheitButton {
  background-color: #71757a;
  border: 1px solid transparent;
  border-radius: 5px;
}

.by-line {
  padding-top: 10px;
}
